.calculator {
  background-color: #273c75;
  padding-top: 80px;
  width: 67%;
  height: 50%;
  min-height: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.matrices {
  display: flex;
  flex-direction: row;
  height: 80%;
}

.operator-symbol {
  font-size: 100px;
  color: white;
  margin: 20px;
}

.tools {
  height: 20%;
}

.row-tools {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-row-button {
  width: 100px;
  height: 30px;
  font-size: 15px;
}

.remove-row-button {
  width: 100px;
  height: 30px;
  font-size: 15px;
}

.row-label {
  background-color: yellow;
  width: 80px;
  height: 28px;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.column-tools {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-column-button {
  width: 100px;
  height: 30px;
  font-size: 15px;
}

.remove-column-button {
  width: 100px;
  height: 30px;
  font-size: 12px;
}

.column-label {
  background-color: yellow;
  width: 80px;
  height: 28px;
  font-size: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
