.matrix {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: rgb(84, 112, 140)
}

.matrices {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
}

.matrix-row {
  display: flex;
  flex-direction: row;
}

.matrix-cell {
  height: 30px;
  width: 30px;
  background-color: rgb(84, 112, 140);
  border-style: none;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.matrix-cell-input {
  width: 90%;
  height: 90%;
  text-align: center;
  color: white;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(70, 97, 125);
}

.matrix-cell-input:focus {
  outline-width: 0;
  background-color: rgb(120, 140, 133);
}
